@page "/teacher"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Teacher</PageTitle>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
    <label>
        Group:
        <input @bind="userGroup" />
        <button @onclick="AddGroup" disabled="@(!IsConnected)">Add Group</button>
    </label>

</div>

<div>
    <InputRadioGroup @bind-Value="SubjectChoise">
        @foreach (string field in names)
        {
            <InputRadio Value="field" />

            <label>@field</label>
        }
    </InputRadioGroup>
</div>

<div class="FormMy">
    <input @bind="TextPrompt"></input>
</div>


<div class="RedirectStudent">
    <input @bind-value="ContextId"></input>
    <button @onclick = "RedirectStudent" ></button>

</div>






<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;//Add Param for connection to hub
    private List<string> messages = [];
    //I don't add Db, that's why i used this param. It's mean that data added in real time, and user who already lost some messages can't get it anymore
    private string? userInput;
    private string? messageInput;
    private string? userGroup;
    private string? messageGroup;
    private string? messageGroupInput;
    private string? TextPrompt;
    private string? ContextId;

    private string? SubjectChoise;
    private string[] names = ["Math", "Science", "Physics"];



    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()//Create Connection
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))//Create link with chathub uri.Pair hub+Uri is writed in program.cs
            .Build();


        hubConnection.On<string>("Text", (message) =>
        {
            messages.Add(message);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("StudentTask",(message) =>{
            TextPrompt = message;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("StudentRadioChange", (message) =>
        {
            SubjectChoise = message;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();//Start RealTime-work
    }



    private async Task AddGroup()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("AddUserToGroup", userInput, userGroup);
        }
    }


    private async Task RedirectStudent()
    {
        if(hubConnection is not null)
        {
            await hubConnection.SendAsync("RedirectStudent",ContextId);
        }
    }


    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;//Needed for disable button if connection can't be establish

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }//Dispose object after work Done
}